:root {
  --primary-color: white;
  --secondary-color: #1a1a1a;

}

.dark-theme {
  --primary-color: #1a1a1a;
  --secondary-color: white;
}

* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
/* navigation */
header {
  width: 100%;
  position: fixed;
  padding: 20px 0px;
  background-color: var(--primary-color);
}

a{
  text-decoration: none;
  color: var(--secondary-color);
}

nav{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-around;
}
.navigation-links{
  width: 20px;
  height: 20px;
}

nav ul{
  display: flex;
  gap: 20px;
  list-style: none;
}

nav ul li a {
  width: 100px;
  transition: width 2s;
}

nav ul li a:hover {
  text-decoration: 2px overline;
}

.nav-group{
  display: flex;
  align-items: center;
  gap: 10px;
}

#dark-mode-btn {
  color: rgb(216, 150, 74);
  border: none;
  cursor: pointer;
  transition: 1s;
}
#menu-btn {
  display: none;
}

#menu-btn.open .line:nth-child(2) {
  opacity: 0;
}

#menu-btn.open .line:nth-child(1) {
  transform: translateY(7px) rotate(48deg);
}

#menu-btn.open .line:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}
/* main-section */
.container{
  display: flex;
  flex-direction: column;
  gap: 45px;
  padding: 40px 100px;
}
/* home-section */
#home{
  height: 530px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

#home .content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.icon-group {
  display: flex;
  align-items: center;
}

.icon-group a{
  font-size: clamp(0.9375rem, 0.5469rem + 1.25vw, 1.25rem);
  padding: 3px;
}

.view-projects-btn {
  width: fit-content;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
}

h1{
  font-size: clamp(2rem, -0.1875rem + 7vw, 3.75rem);
  -webkit-text-fill-color: var(--primary-color);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--secondary-color);
}

.content h3 {
  font-size: clamp(1.125rem, -0.4375rem + 5vw, 2.375rem);
}

.profile{
  max-width: 400px;
  width: 100%;
  height: 400px;
  object-fit: cover;
  background-color: var(--secondary-color);
  border-radius: 1000px;
}

.content h3 {
  overflow: hidden;
  border-right: .15em solid rgb(216, 150, 74);
  white-space: nowrap;
  margin: 0 auto;
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
#about {
  text-align: center;
  margin-top: -100px;
}
/* projects-section */
.projects-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;

}
#project{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  height: 300px;
  padding: 8px;
  color: var(--primary-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  cursor: pointer;
  
}


.title {
  display: none;
  text-align: center;
}


.project-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--primary-color);
  background-color: transparent;
  opacity: 0.8;
  text-align: center;

}


.project-content p {
  font-size: 20px;
} 
.outline-btn {
  float: right;
  bottom: 0;
  margin-top: 20px;
  background-color: transparent;
  color: var(--primary-color);
  padding: 8px 20px;
  border: 2px solid var(--primary-color);
  border-radius: 3px;
  
}
/* skills-section */
#skills {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-skills {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  margin-top: 20px;
  gap: 20px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
  border: 0.5px solid var(--secondary-color);
  border-radius: 10px;
  padding: 20px;
  font-size: clamp(1.125rem, -0.9844rem + 6.75vw, 2.8125rem);
}
/* contacts-section */
#contacts {
  display: flex;
  justify-content: center;
  text-align: center;
}
.form {
  max-width: 500px;
  width: 100%;
}
.form-row {
  display: flex;
  width: 100%;
}

input[type="text"]{
  border: 1px solid var(--secondary-color);
  border-radius: 3px;
  padding: 8px 20px;
  margin: 5px;
  width: 100%;
}
input[type="email"] {
  border: 1px solid var(--secondary-color);
  border-radius: 3px;
  padding: 8px 20px;
  margin: 5px;
  width: 100%;
}

.submit-button {
  width: 100%;
  padding: 8px 20px;
  background-color: var(--secondary-color);
  border-radius: 5px;
  margin: 5px;
  color: var(--primary-color);
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 90%;
}

footer {
  display: flex;
  border-top: 1px solid var(--secondary-color);
  justify-content: space-between;
  margin: 20px;
  padding: 5px;
  flex-direction: row;
}

@media only screen and (max-width: 800px) {
  .container {
    padding: 20px;
  }
  .nav-list {
    background-color: var(--primary-color);
    position: absolute;
    width: 100%;
    top:60px;
    padding: 20px;
    text-align: center;
    flex-direction: column;
    display: none;
  }
  .nav-list li {
    padding: 10px;
  }
  .nav-list.open {
    display: block;
  }
  .icon-group a{
    font-size: clamp(0.9375rem, 0.5469rem + 1.25vw, 1.25rem);
    padding: 2px;
  }
  #menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 15px;
    cursor: pointer;
    position: relative;
    z-index: 100;
  }
  
  .line {
    width: 100%;
    height: 3px;
    background-color: var(--secondary-color);
  }

  #home{
    margin-top: 100px;
    flex-direction: column;
    height: fit-content;
  }
  .profile {
    max-width: 200px;
    height: 200px;
  }
  .content {
    order: 2;
  }
  .projects-group{
    flex-direction: column;
  }
  #skills {
    display: block;
  }
  .card {
    text-align: center;
    padding: 20px;
  }

  .card i {
    font-size: 36px; /* Default font size for icons */
  }

  @media (max-width: 667px) {
    .card i {
      font-size: 28px; /* Font size for smaller screens */
    }
  }

  @media (max-width: 375px) {
    .card i {
      font-size: 15px; /* Font size for even smaller screens */
    }
  }


}